## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Namibe,AO,72.79,overcast clouds,-15.1961,12.1522,Hotel Chik Chik Namibe
1,5,Tete,MZ,73.35,overcast clouds,-16.1564,33.5867,Zambeze Paraíso Misterioso
2,6,Atuona,PF,79.07,broken clouds,-9.8000,-139.0333,Villa Enata
3,8,Chuy,UY,68.34,light rain,-33.6971,-53.4616,Nuevo Hotel Plaza
4,11,Hobart,AU,73.99,scattered clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
vacation_df.loc[(vacation_df["City"] == "East London")]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
119,303,East London,ZA,70.34,broken clouds,-33.0153,27.9116,Tu Casa

In [16]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Cape Town")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Cape Town")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "George")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Port Elizabeth")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "East London")]

In [62]:
start = vacation_start[["Lat","Lng"]]
start.to_numpy()

array([[-33.9258,  18.4232]])

In [64]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()

In [69]:
stop3

array([[-33.0153,  27.9116]])

In [72]:
start = (-33.9258,  18.4232)
end = (-33.9258,  18.4232)
stop1 = (-33.963 ,  22.4617)
stop2 = (-33.918 ,  25.5701)
stop3 = (-33.0153,  27.9116)

In [79]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(-33.5, 23.0), zoom_level=7)
city_five_layer = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING',stroke_weight=3.0,stroke_color="blue")
fig.add_layer(city_five_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [80]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,74,Cape Town,ZA,68.00,broken clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
1,665,George,ZA,62.60,clear sky,-33.9630,22.4617,Protea Hotel by Marriott George King George
2,276,Port Elizabeth,ZA,60.80,clear sky,-33.9180,25.5701,39 On Nile Guest House
3,303,East London,ZA,70.34,broken clouds,-33.0153,27.9116,Tu Casa

In [81]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [82]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(-33.5, 23.0), zoom_level=7)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))